<!DOCTYPE html>
<html>
<head>
  <script>
  function myfunction(){
    var data = user1.find().fetch();
  var yourCSVData = JSON2CSV(data);
  var blob = new Blob([yourCSVData],
                    {type: "text/csv;charset=utf-8"});
  saveAs(blob, "subscriberlist.csv");
}
   </script>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>


<button onclick="myfunction" class="button" >Download as CSV</button>
<form action="logout" method="get">
  <div class="container-login100-form-btn">
    <input type="submit" class="login100-form-btn" value="Logout">


  </div>
</form>
</body>
