<!DOCTYPE html>
<html>
<head>
<style>
/*.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}*/

</style>
</head>
<body>

  <div class="list-group">
        <% for(let i = 0;i < email.length ; i++){ %>
        <div class="list-group-item" >
            <span><%- email[i].email %></span><a href="#" class="button" id="download">Subscribe</a></div>
        <% } %>
    </div>

  <form action="logout" method="get">

    <div class="container-login100-form-btn">

      <input type="submit" class="login100-form-btn" value="Logout">



    </div>

  </form>
</body>
